.profile {
    max-width: 1020px;
    margin: 3em auto 0;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.profile-content {
    width: 100%;
    max-width: 700px;
}

.profile-header {
    color: #fff;
}

.project-item {
    font-size: 15.2px;
    font-weight: 300;
    color: rgb(161, 161, 170);
    margin-bottom: 0.9em;
    line-height: 1.6;
}

.project-item a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 768px) {
    .profile {
        margin-top: 2em;
        flex-direction: column;
    }

    .profile-content {
        max-width: 100%;
    }

    .project-item {
        font-size: 14px;
    }
}

@media (max-width: 480px){
  .profile-header{
    font-size: 26px;
    margin-bottom: 0.8em;
  }
}