.navbar {
    text-transform: capitalize;
    max-width: 1020px; /* match your other sections */
    margin: 0 auto;
    padding: 40px 1.25rem 20px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    margin: 0 auto;
    background-color: #242424;
    border: 1px solid #4645456c;
    padding: 8px 20px;
    border-radius: 30px;
}

.navbar ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    opacity: 0.7;
}


@media (max-width: 768px) {
  .navbar {
    padding: 20px 1.25rem 12px;
  }

  .navbar ul li a {
    font-size: 13px;
    padding: 4px 8px;
  }
}